* {
	box-sizing: border-box;
	margin: 0;
}
html, body {
	width: 100%; height: 100%;
	background-color: silver;
}

nav {
	width: 100%;
	height: 100px;
	background: #383838;
}


.logo > a > img {
	width: 5%;
	height: 5%;
	color: white;
	float: left;
	margin-left: 40px;
}

.button {
	float: right;
	margin-right: 40px;
	margin-top: 25px;
}

.button > a {
	text-decoration: none;
	text-align: center;
	font-size: 2em;
	font-family: Segoe UI light;
	color: white;
	background-color: #39F;
	height: 30px;
	width: 	60px;
	border-radius: 4px;
	padding: 5px;
}

.button > a:hover {
	background-color: #2A8FFD;
	transition: all .2s ease-in-out;
}

.wrapper {
	width: 100%;
	height: 100%;
}

/*Описание про совместный доступ*/

.url {
	width: 100%;
	height: 350px;
	background-color: white;
	float: left;
}

.url > img {
	float: left;
	margin: 50px;
	margin-left: 150px;
}

.p {
	width: 50%;
	float: left;
	text-align: center;
	margin: 50px;
}

.p > h1 {
	font-family: Segoe UI BLACK;
	font-size: 3em;
}

.p > h3 {
	font-size: 2em;
	font-family: Segoe UI light;
	color: black;
}

/*Изображение про доступ*/
.img_url > img {
	width: 100%;
}

/*Описание про загрузку файлов*/

.upload {
	width: 100%;
	height: 350px;
	background-color: silver;
	float: left;

}

.upload > img {
	width: 256px;
	height: 256px;
	margin: 50px;
	margin-right: 150px;
	float: right;
}

.load {
	width: 50%;
	float: left;
	text-align: center;
	margin: 50px;
}

.load > h1 {
	font-family: Segoe UI BLACK;
	font-size: 3em;
}

.load > h3 {
	font-size: 2em;
	font-family: Segoe UI light;
	color: black;
}

/*Изображение про возможность загрузки файлов до 2 ГБ*/

 .img_progress > img {
	width: 100%;
}


/*Просмотр файлов*/

.file {
	width: 100%;
	height: 350px;
	background-color: white;
	float: left;
}

.file > img {
	float: left;
	margin: 50px;
	margin-left: 150px;
	border-radius: 30px;
}

.view {
	width: 50%;
	float: left;
	text-align: center;
	margin: 50px;
}

.view > h1 {
	font-family: Segoe UI BLACK;
	font-size: 3em;
}

.view > h3 {
	font-size: 2em;
	font-family: Segoe UI light;
	color: black;
}

/*Изображение про просмотр файлов*/
 .img_view > img {
	width: 100%;
}

/*Кнопка скачивания*/

.button_uploads {
	float: left;
	margin-left: 35%;
	margin-top: 40px;

}

.button_uploads > a {
	text-decoration: none;
	text-align: center;
	font-size: 2em;
	font-family: Segoe UI light;
	color: white;
	background-color: #39F;
	height: 50px;
	width: 	100px;
	border-radius: 4px;
	padding: 10px;
}

.button_uploads > a:hover {
	background-color: #2A8FFD;
	transition: all .2s ease-in-out;
}
