* {
	box-sizing: border-box;
	margin: 0;
}
html, body {
	width: 100%; height: 100%;	
}



.wrapper {
	width: 100%; height: 100%;
	background-image: url('../images/1.jpg');
	background-color: silver;		
}

.logo > a > img {
	width: 5%;
	height: 5%;
	color: white;
	float: left; 
	margin-left: 40px;
}


.content {
	width: 100%;
	height: 30%;
	float: left;
	margin-top: 15%; 
	text-align: center;
}

.content > h1 {
	color: white;
	padding: 0.4%;
	font-family: Helvetica;
	font-size: 3em;
}

.url {
	width: 100%;
	height: 100%;
}

.login {
	text-decoration: none;
	font-size: 2.4em;
	font-family: Segoe UI Light;
	background-color: black;
	display: inline-block;
	height: 60px;
	width: 170px;
	border-radius: 4px;
	color: white;	
	text-align: center;
	margin: 1%;
	line-height: 1.5em;
			
}

.aboutus {
	text-decoration: none;
	font-size: 2.4em;
	font-family: Segoe UI Light;
	background-color: black;
	display: inline-block;
	height: 60px;
	width: 170px;
	border-radius: 4px;
	color: white;	
	text-align: center;
	margin: 1%;
	line-height: 1.5em;

}
.login:hover {
	background-color: white;
	transition: all .2s ease-in-out;
	color: black;
}
.aboutus:hover {
	background-color: white;
	transition: all .2s ease-in-out;
	color: black;

}